/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.log-in {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0d122b;
  font-size: 1.6rem;
  box-shadow: 0px 1px 5px rgba(151, 162, 185, 0.2), 0px 3px 4px rgba(151, 162, 185, 0.12), 0px 2px 4px rgba(151, 162, 185, 0.14);
  border: 1px solid #0d122b;
}
.sign-up {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #5ae5dd;
  color: #ffffff;
  font-size: 1.6rem;
  box-shadow: 0px 1px 5px rgba(151, 162, 185, 0.2), 0px 3px 4px rgba(151, 162, 185, 0.12), 0px 2px 4px rgba(151, 162, 185, 0.14);
  border: none;
}
header {
  border-bottom: 1px solid #0d122b;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
header .navbar {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .logo-nav {
  display: flex;
  align-items: center;
}
header .navbar .logo-nav h2 {
  display: flex;
  align-items: center;
}
header .navbar .navtab {
  display: flex;
  align-items: center;
}
header .navbar .navtab a {
  padding-left: 5em;
  text-decoration: none;
  color: #0d122b;
}
header .navbar .navtab button {
  margin-left: 3em;
}
.footer .cyan-block {
  background-color: #e0fcf9;
}
.footer .cyan-block .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.footer .bottomNavy-block {
  width: 100%;
  background-color: #0d122b;
}
.footer .bottomNavy-block .footer-bottom {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.white-block {
  padding-bottom: 20px;
}
.white-block .top-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.white-block .top-content .top-text {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.white-block .top-content .top-text h1 {
  padding-bottom: 20px;
}
.white-block .top-content .top-text .top-img-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.white-block .top-content .top-text .top-img-grid img {
  padding-right: 9em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.white-block .top-content .top-img-main {
  width: 48%;
}
.blue-block {
  background-color: #0d122b;
}
.blue-block .middle-content {
  color: #ffffff;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.blue-block .middle-content .middle-text {
  text-align: center;
}
.lightGrey-block {
  background-color: #f9f9f9;
}
.lightGrey-block .bottom-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
