//footer

.footer {
  .cyan-block {
    // width: 100%;
    background-color: @backgroundCyan;
    .footer-top {
      .flex(space-between);
      .width();
      //   background-color: skyblue;
    }
  }
  .bottomNavy-block {
    width: 100%;
    background-color: @secondaryColor;
    .footer-bottom {
      .width();
      .flex(space-between);
      color: @white;
      //   background-color: skyblue;
    }
  }
}
