//footer

.footer {
  .cyan-block {
    // width: 100%;
    background-color: @backgroundCyan;
    .footer-top {
      .width();
      background-color: skyblue;
    }
  }
  .bottomNavy-block {
    width: 100%;
    background-color: @secondaryColor;
    .footer-bottom {
      .width();
      background-color: skyblue;
    }
  }
}
