//navbar

header {
  border-bottom: 1px solid @secondaryColor;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .navbar {
    .width();
    padding-top: 20px;
    .flex(space-between);
    .logo-nav {
      display: flex;
      align-items: baseline;

      @media @mobile {
        .mobile();
      }
      span .logoLine {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    }
    .navtab {
      display: flex;
      align-items: center;
      a {
        padding-left: 5em;
        text-decoration: none;
        color: @secondaryColor;
      }
      button {
        margin-left: 3em;
      }
      @media @mobile {
        a,
        button {
          display: none;
        }
      }
    }
    // @media @mobile {
    //   .logo-nav {
    //     display: flex;
    //     justify-content: center;
    //   }
    // }
  }
}
